<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Dealtraction" %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>
  </head>

  <body>
    <%unless on_page?("home","landing_page") %>
      <div class="logo"> 
        <div class="container">
          <a href="/home">
            <img alt="Logo" src="/assets/main_logo.png"/>
          </a>  
        </div>
      </div>


      <div class="navbar navbar-inverse">
        <div class="navbar-inner" style="border-radius: 0;">
          <div class="container" style="width: 995px;">
            <ul class="nav">
              <li class="active"><%= link_to "Home", "/home/index" %></li>
              <li>
                <%= link_to "/home/reminder" do  %>
                  Reminders
                  <span class="reminder-count">20</span>
                <%end%>
              </li>
              <li><%= link_to "Filters", "/home/filter"  %></li>
              <li><%= link_to "Network", "/home/index"  %></li>
              <li><%= link_to "Profile", "/home/index"  %></li>
            </ul>
            <ul class="nav pull-right">
              <li class="dropdown" >
                <a data-toggle="dropdown" class="dropdown-toggle white" href="#">
                  <b class="caret"></b>&nbsp;
                  Aastha Tangri
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Logout</a></li>
                </ul>
              </li>
              <li>
                <a href="#" class="white">Add Connection</a>
              </li>    
            </ul>
          </div>
        </div>
      </div>
    <% else %>
      <div class="logo"> 
        <div class="container">
          <a href="/home">
            <img alt="Logo" src="/assets/main_logo.png"/>
          </a>  
          <span class="pull-right">
            <ul style="list-style: none;margin-top: 10px">
               <li style="display: inline"><a>Signup</a></li>
              <li style="display: inline;padding-left: 10px;"><a>Login</a></li>             
            </ul>
          </span>
        </div>
      </div>
  <% end %>
    <div class="container">
      <%= yield %>
    </div> <!-- /container -->
    <footer>
      <div class="container">
        <ul>
          <li><%= link_to "About", ""  %><span>|</span></li>
          <li><%= link_to "News", ""  %><span>|</span></li>
          <li><%= link_to "Blog", ""  %><span>|</span></li>
          <li><%= link_to "Benefits", ""  %><span>|</span></li>
          <li><%= link_to "Partner", ""  %><span>|</span></li>
          <li><%= link_to "Developers", ""  %><span>|</span></li>
          <li><%= link_to "Mobile", ""  %><span>|</span></li>
          <li><%= link_to "Contact Us", ""  %><span>|</span></li>
          <li><%= link_to "Jobs", ""  %><span>|</span></li>
          <br><br>
          <li style="color: #98999B">DEALtraction &copy; 2012<span>|</span></li>
          <li><%= link_to "User Agreement", ""  %><span>|</span></li>
          <li><%= link_to "Privacy Policy", ""  %><span>|</span></li>
          <li><%= link_to "Copyright Policy", ""  %><span>|</span></li>
        </ul>
      </div>
    </footer>
    <%= javascript_include_tag "application" %>
  </body>
</html>
